.scoreBoard {
    gap: 10px;
    font-size: large;
    flex-basis: 25%;
    text-align: center;
    margin: auto;
}

.dictScoreArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.dictArea {
    display: flex;
    flex-direction: column;
    border-width: 0px;
    flex-basis: 75%;
}

.longArea {
    flex-basis: 25%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    border-bottom: 1px dashed;
}

.number {
    font-size: 120%;
}

.score {
    composes: number;
    color: red;
}

.glyphs {
    composes: number;
    color: yellow;
}

.mws {
    composes: number;
    color: green;
}

.LIword {
    margin-right: 10px;
    font-family: monospace;
    font-size: 120%;
    font-weight: bold;
}

.LIdesc {
    font-size: 85%;
    color: #aaaaff;
}

.SIword {
    margin-right: 10px;
    font-family: monospace;
    font-size: 120%;
    font-weight: bold;
}

.SIdesc {
    font-size: 85%;
    color: #aaaaff;
}

/*
.tooltip {
    position: relative;
    display: inline-block;
}
*/

.tooltiptext {
    composes: LIdesc;
}

/* Tooltip text */
.shortItem .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #444444;
    opacity: 80%;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.shortItem:hover .tooltiptext {
    visibility: visible;
}

.itemScore {
    font-size: 85%; 
    color: #aa44ee;
}

.shortArea {
    flex-basis: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    margin-bottom: 5%;
}