/* Added */

.log {
    min-width: 25vw;
    font-size: x-small;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    background-color: black;
    color: grey;
    background-color: #0a0a0a;
}

.lastLog {
    color: white;
}

.game {
    display: flex;
    flex-direction: column;
    min-width: 60vw;
}

.gameMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 30vh;
}

.gameMain > *
{
    border-width: 0px;
}

.multifooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 50vw;
    min-height: 7vw;;
    gap: 10px;
}

.multifooter button {
    border-radius: 7px;
}

.resetButton {
    border-width: 1px;
    min-width: 80px;
    height: 45px;
}

.footerButton {
    border-width: 2px;
    min-width: 80px;
    height: 45px;
    border-color: grey;
    flex-grow: 0;
    border-style: dashed;
}

.footerContent {
    flex-grow: 1;
}

.footerContent > * {
    display: block;
    margin: auto;
}

.scout {
    margin: auto;
}

/* Testing only */
.kbdContainer {
    width: 400px;
    height: 350px;
}
.dictContainer {
    width: 500px;
    height: 300px;
}
