.keyboardComponent {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 20px;
}

.keyRow {
    display: flex;
    flex-direction: row;
}

/*
raised: {
    bg: "colorPalette.subtle",
    color: "colorPalette.fg",
    borderWidth: "1px",
    borderBottomWidth: "2px",
    borderColor: "colorPalette.muted"
  }

  outline: {
    borderWidth: "1px",
    color: "colorPalette.fg"
  },
  subtle: {
    bg: "colorPalette.muted",
    color: "colorPalette.fg"
  },
  plain: {
    color: "colorPalette.fg"
  }
},
*/

/* This is "raised"*/

.key {
/*    composes: key;*/
/*
    display: inline-flex;
    flex-shrink: 0;
*/
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;

    white-space: nowrap;
/*    word-spacing: -0.5em;*/
    user-select: none;
    border:solid;
    border-radius: 0.25rem;
    border-width: 1px;
/*    border-bottom-width: 2px;*/
    border-bottom-width: .1em;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size:16px;
    
    color-scheme: light;
    background-color: #3b1106; /* orange subtle */
    border-color: #6c2710; /* orange muted */
/*    min-width: 22px;*/
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 21px;
}

.unlocked .key {
    background-color: #3b1106;
    color: rgb(253, 186, 116);
}

.repeatToggleAvailable .key {
    background-color: red;
    color: rgb(253, 186, 116);
}

.highlight  .key {
    background-color: #FDE047;
    /*color: #FDE047;*/
    color: white;
    border-color: #713F12;
    border-width: 0px;
    border-bottom-width: 0px;
}

/* blue theme */
.wordBuy .key {
    color: rgb(163, 207, 255);
    background-color: #14204A;
    border-color: rgb(48, 48, 108);
}

.modifier .key {
    background-color: green;
}

/* dark theme */
.visible .key {
    color: rgb(228, 228, 231);
    background-color: black;
    border-color: #27272a;
    background-color: #18181b;
}

.keyboardTop
{
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}
.keyboardBottom
{
    flex-basis: 25%;
}

.vstack {
    align-items: center;
    justify-content: center;
    margin-top:auto;
    margin-bottom: auto;
}

.hstack {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
