.keyboardComponent {
    display: flex;
    flex-direction: column;
}

.keyRow {
    display: flex;
    flex-direction: row;
}

.key {
    min-width: 40 px;
    margin-left: 5px;
    margin-right: 5px;
}

.keyOld {
    margin-left:10px;
}