
.shop
{
  font-size:.9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5ch;
}

.shopButtonInactive {
  color: grey;
}

.shopPrice {
  font-weight: bold;
  color: white;
}

/*
https://uiverse.io/iZOXVL/wise-goat-75
*/

.botonElegante {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  /*
  background-color: #1a1a1a;
  */
  background-color: #042504;
  color: #ffffff;
  /*
  font-size: 1rem;
  */
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  /*
  font-weight: bold;
  */
  /* Added */
  height: 130px;
  width: 9vw;
}

.botonElegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.botonElegante:hover::after {
  transform: scale(4);
}

.botonElegante:hover {
  border-color: #666666;
  background: #292929;
}

.shopButtonActive .botonElegante {
  background-color: rgb(5, 106, 45);
  color: #AAAAAA;
}

.shopButtonActive .shopPrice {
  color: #444444;
}
