.streamComponent {
    flex-basis: 50%;
    color: rgb(171, 136, 150);
    font-family: monospace;
    white-space: nowrap;
    word-spacing: -.4ch;
    font-size: 1.3em;
    padding-right: 2vh;
    text-align:right;
    margin: auto;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    direction: rtl;
}

.streamContent {
    text-align: end;

}

.superscript {
    font-size: 70%;
    vertical-align: super;
    margin-left: -3px;
    margin-right: -3px;
}

.currentWord {
    color: red;
    font-size:120%;
}

.prio1 {
    color: yellow;
}

.prio2 {
    color: green;
}

.prio3 {
    color: blue;
}

.prio4 {
    color: lightgray;
}

.prio5 {
    color: gray;
}

.prio6 {
    color: #606060;
}

.prioDefault {
    color: #505050;
}

.smallSpace {
    font-size: 50%;
}

.realWord {
    font-size: 70%;
}