/* Added */

.inputArea {
    font-family: monospace;
    text-align: center;
    font-size: 1.3em;
}

.log {
    min-width: 25vw;
    font-size: x-small;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    background-color: black;
    color: grey;
}

.lastLog {
    color: white;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
}

.game ol {
    font-family: var(--font-geist-mono);
    padding-left: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    list-style-position: inside;
}

.game li:not(:last-of-type) {
    margin-bottom: 8px;
}

.game code {
    font-family: inherit;
    background: var(--gray-alpha-100);
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}

.multifooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 50vw;
    min-height: 7vw;;
    gap: 10px;
}

.multifooter button {
    border-radius: 7px;
}

.resetButton {
    border-width: 1px;
    min-width: 80px;
    height: 45px;
}

.footerButton {
    border-width: 2px;
    min-width: 80px;
    height: 45px;
    border-color: grey;
    flex-grow: 0;
    border-style: dashed;
}

.footerContent {
    flex-grow: 1;
}

.footerContent > * {
    display: block;
    margin: auto;
}

.scout {
    margin: auto;
}